@import "mixins";
@import "fonts";
@import "navbar";

$input_field:               #999;
$input_focus:               #559ab9;
$validation_passed:         #8aba56;
$validation_failed:         #ba5656;
$bg_colour:                 #f4f4f4;
$box_colour:                #fff;
$border_style:              1px solid;
$border_radius:             4px;

* {
    margin:0;
    padding:0;
}

html,body{
    height:100%;
}

body {
    padding:            0;
    //background:         #fff url('../images/bg-tile.png') repeat;
    background:         url('../svg/trianglify-background.svg') no-repeat center center fixed;
    @include            prefix(background-size, cover, webkit moz o);
    font-family:        'Overlock', cursive;
}

input[type="text"] {
    @include            prefix(appearance, none, webkit moz);
    @include            prefix(transition, border .3s ease);
    border-radius:      $border_radius;
    border:             $border_style $input_field;
    width:              220px;
}

input[type="text"]:focus {
    border-color:       $input_focus;
    outline:            0;
}

label,
input[type="text"],
.validation {
    line-height:        1;
    font-size:          1em;
    padding:            10px;
    display:            inline;
    margin-right:       20px;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -155px;
}
footer, .push {
    height:155px;
    //background-color:#fff;
    //background: transparent;
    background: rgb(255,255,255) transparent;
    background: rgba(255,255,255,0.5);
    -ms-filter: 'progid:DXImageTransform.Microsoft.gradient(startColorstr=#7FFFFFFF, endColorstr=#7FFFFFFF)';
}
footer {
    position:relative;
    border-top:4px solid #000;
}

.portrait{
    position:absolute;
    bottom:0;
    width:25%;
    max-width:100%;
    height:auto;
}

.category-block {
    width:180px;
    margin-left:auto;
    margin-right:auto;
    ul {
        list-style-type: none;
        li {
        }
    }
}

.icon {
    width:30px;
    height:30px;
}

.icon-group {
    li {
        display:inline;
    }
}

.clearfix {
    &:before, &:after{
        content: " ";  
        display: table;  
    }
    &:after {
        clear:both;
    }
    *zoom: 1;
}

@media screen and (max-width: 600px) {

}

@media only screen and (max-width : 480px) {

}

@media only screen and (max-width: 320px) {

}