$navbar_width:              250px;
$active_tab_colour:         #1A1A1A;
$active_tab_colour_hover:   darken($active_tab_colour, 5%);
$inactive_tab_colour:       #2E2E2E;
$nav_border_color:          #000;
$nav_border_thickness:      3px;
$nav_height:                50px;

nav {
    width: $navbar_width;
    @include calc(height, '100% - 155px');
    background-color: $inactive_tab_colour;
    float:left;
    ul {
        li {
            line-height:40px;
            text-align: right;
            a {
                color: #FFF;
                font-size: 18px;
                text-decoration: none;
                display:inline-block;
                padding-right:10px;
                @include calc(width, '100% - 10px');
                &:hover {
                    background-color: $active_tab_colour_hover;
                }
                &.active {
                    background-color: $active_tab_colour;
                }
            }
        }
    }
}