footer {
    padding-top:$footer_padding_top;
    color: $footer_color;
    text-align: center;
    float:left;
    width: $navbar_width;
    height:$footer_height;
    background-color: $footer_background;
    position:relative;
}