@import "variables";
@import "mixins";
@import "fonts";
@import "navbar";
@import "footer";
@import "button";
@import "shop_bar";
@import "stars";
@import "contact";
@import "rounded_list";
@import "basket";
@import "fontawesome/font-awesome";

* {
    margin:0;
    padding:0;
}
html,body{
    height:100%;
}
body {
    background:         url('../images/bg-tile.png') repeat;
    font-size:          $default_font_size;
    font-family:        'Droid Serif', serif;
}
a {
    color: $default_link_color;
    text-decoration: $default_link_decoration;
    &:hover {
        color: $default_link_color_hover;
    }
}
hr {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
    &:after {
        content: '§';
        display:inline-block;
        position: relative;
        top: -0.7em;
        font-size:1.5em;
        padding: 0 0.25em;
        background: #F5F5F5;
    }
}
.logo{
    display:block;
    margin-left:auto;
    margin-right:auto;
}
.content {
    @include calc(height, '100% - (' + $content_margin * 2 + ' + ' + $content_padding * 2 + ')');
    @include calc(width, '100% - (' + $navbar_width + ' + ' + $content_margin * 2 + ' + ' + $content_padding * 2 + ')');
    background-color: #F5F5F5;
    margin:$content_margin;
    overflow: auto;
    padding: $content_padding;
    float:right;
}
article {
    margin-left: auto;
    margin-right: auto;
    padding-top: $article_padding_top;
    padding-bottom: $article_padding_bottom;
    border-top: 1px solid $article_border_top;
    border-bottom: 1px solid $article_border_bottom;
    &:first-child {
        border-top: none;
    }
    &:last-child {
        border-bottom: none;
    }
    &[itemstyle="http://schema.org/Product"] {
        @include calc(width, '33% - 5px');
        background-color: #FFF;
        text-align: center;
        border: 1px solid darken(#42AF47, 10%);
        display:inline-block;
    }
    &[itemtype="http://schema.org/Review"] {
        padding-bottom: 15px;
    }
    &[itemstyle="http://schema.org/ContactPage"] {
        ol {
            li {
                a{
                    &:after {
                        content: '?';
                    }
                }
            }
        }
    }
    h1 {
        font-size: 1.72em;
        color: #08C;
        a {
            margin: 0.45em 0.95em;
        }
    }
    a {
        span {
            background-color: #08C;
            color: #FFF;
            @include prefix(border-radius, 100px, moz webkit spec);
            padding: 0.45em 0.95em;
            &:hover {
                background-color: darken(#08C, 10%);
            }
        }
    }
    p {
        margin-top: 25px;
    }
    .offer {
        margin-bottom: 10px;
    }
    .review_list {
        clear:both;
        list-style: none;
        h1 {
            font-size: 0.88em;
        }
    }
    header {
        clear: both;
        overflow:auto;
        h1 {
            float: left;
            display:inline-block;
            a {
                color: #08C;
                text-decoration: none;
                &:hover {
                    color: darken(#08C, 10%);
                }
            }
        }
        time {
            background-color: #42AF47;
            @include prefix(border-radius, 100px, moz webkit spec);
            font-size: 0.67em;
            line-height: 1.1;
            text-transform: uppercase;
            color: #fff;
            padding: 0.95em 1.05em;
            text-align: center;
            width: 48px;
            display: block;
            float: right;
            span {
                display: block;
            }
            .entry-day {
                font-size: 23px;
            }
        }
        .tags {
            float: left;
            clear:left;
            list-style: none;
            &:before {
                font-family: FontAwesome;
                content: '\f02c';
                font-size: 1.5em;
            }
            li {
                font-size: 0.78em;
                display: inline-block;
                list-style-image: none;
                list-style-type: none;
                font-style: italic;
                text-decoration: none;
                color: #9F9E99;
                &:after {
                    content: ',';
                }
                &:last-child:after {
                    content: none;
                }
            }
        }
    }
}

.icon {
    width:30px;
    height:30px;
}

.icon-group {
    list-style-type:none;
    li {
        display:inline;
    }
}

@media screen and (max-width: 1120px) {
    article{
        &[itemstyle="http://schema.org/Product"]{
            @include calc(width, '50% - 10px');
        }
    }
}

@media screen and (max-width: 850px) {
    article{
        &[itemstyle="http://schema.org/Product"]{
            @include calc(width, '100% - 10px');
        }
    }
    .logo{
        width: $navbar_width_medium;
    }
}

@media screen and (max-width: 600px) {
    nav,footer{
        display:none;
    }
}

@media only screen and (max-width : 480px) {

}

@media only screen and (max-width: 320px) {

}