<article itemscope itemstyle="http://schema.org/ContactPage">
	<h1>Get in touch!</h1>
	<ol class="rounded-list">
		<li><i>Having problems with a kit?</i></li>
		<li><i>Looking to order a lot of kits?</i></li>
		<li><i>Need specially made kits?</i></li>
		<li><i>Want to leave some feedback?</i></li>
		<li><i>Got a general question?</i></li>
	</ol>
	<hr />
	<h1>Send an email</h1>
	<form method="post" action="contact.html" class="contact-form">
		<label for="name">
			Name:
			<input type="text" id="name" name="name" placeholder="John Doe" required="required" />
		</label>
		<label for="email">
			Email:
			<input type="email" id="email" name="email" placeholder="johndoe@example.com" required="required" />
		</label>
		<label for="message">
			Message:
			<textarea id="message" name="message" placeholder="Your message must be greater than 20 characters" required="required" data-minlength="20"></textarea>
		</label>
		<input type="submit" class="button" value="Send" />
	</form>
</article>

<h1>Things I need to add...</h1>
<ul>
    <li>Sub-items under the "Get in touch" section with common questions and answers, to try save someone sending an email</li>
    <li>Some type of captcha or similar to prevent bots spamming my email</li>
</ul>