<!DOCTYPE html>
<html>
	<head>
		<title>Cyber-Lane | Responsive 2014</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
		<link rel="stylesheet" href="css/master.css" media="screen">
	</head>
	<body>
		<nav>
			<img class="logo" src="svg/full-logo.svg" />
			<ul>
				<li><a  class="active" href="index.html">Home <i class="fa fa-home"></i></a></li>
				<li><a href="blog.html">Blog <i class="fa fa-rss"></i></a></li>
				<li><a href="products.html">Products <i class="fa fa-flask"></i></a></li>
				<li><a href="contact.html">Contact <i class="fa fa-envelope"></i></a></li>
				<li><a href="basket.html">Basket <i class="fa fa-shopping-cart"></i></a></li>
			</ul>
		</nav>
		<section class="content">
			<%= content %>
		</section>
		<footer>
			<section>
				Social
				<ul class="icon-group">
					<li><a href="http://twitter.com/Cyberlane"><img class="icon" src="svg/twitter.svg" /></a></li>
					<li><a href="https://plus.google.com/+JustinNel"><img class="icon" src="svg/gplus.svg" /></a></li>
					<li><a href="https://www.youtube.com/user/MrCyberlane/playlists"><img class="icon" src="svg/youtube.svg" /></a></li>
					<li><a href="https://github.com/Cyberlane"><img class="icon" src="svg/github.svg" /></a></li>
					<li><a href="http://careers.stackoverflow.com/cyberlane"><img class="icon" src="svg/stackoverflow.svg" /></a></li>
				</ul>
			</section>
			<section>
				Shop
				<ul class="icon-group">
					<li><a href="https://www.etsy.com/shop/Cyberlane?ref=offsite_badges&utm_source=sellers&utm_medium=badges&utm_campaign=en_isell_1"><img class="icon" src="svg/etsy.svg" /></a></li>
					<li><a href="https://www.tindie.com/stores/Cyberlane/?ref=offsite_badges&utm_source=sellers_Cyberlane&utm_medium=badges&utm_campaign=badge_large"><img class="icon" src="svg/tindie.svg" /></a></li>
				</ul>
			</section>
		</footer>
		<script src="http://localhost:35729/livereload.js"></script>
	</body>
</html>
