<% _.map(products, function(product){ %>
<article itemscope itemstyle="http://schema.org/Product">
	<a href="#" title="<%= product.Title %>" itemprop="url">
		<img src="images/products/<%= product.Image %>" alt="<%= product.Title %>" width="#" height="#" itemprop="image" />
	</a>
	<h1 itemprop="name"><%= product.Title %></h1>
	<div class="description" itemprop="description">
		<p><%= product.Description %></p>
	</div>
	<div class="rating" itemscope itemtype="http://schema.org/AggregateRating">
		<% var radioName = 'rating_' + product.Id; %>
		<input type="radio" name="<%= radioName %>" value="1"><i></i>
		<input type="radio" name="<%= radioName %>" value="2"><i></i>
		<input type="radio" name="<%= radioName %>" value="3"><i></i>
		<input type="radio" name="<%= radioName %>" value="4" checked="checked"><i></i>
		<input type="radio" name="<%= radioName %>" value="5"><i></i>
	</div>
	<div class="offer" itemscope itemtype="http://schema.org/Offer">
		<span class="price" itemprop="price">&pound;<%= product.Price.Value.toFixed(2) %></span>
		<span class="availability" itemprop="availability">
			<% if (product.StockCount > 0) { %>
			In stock!
			<% } else { %>
			Out of stock
			<% } %>
		</span>
	</div>
 	<% if (product.StockCount > 0) { %>
	<a href="#" title="Add to Cart"><span>Add to Cart</span></a>
	<% } %>
<!--
	<ol class="review_list">
		<% _.map(product.Reviews, function(review){ %>
		<li>
			<article itemscope itemtype="http://schema.org/Review">
				<h1 itemprop="name"><%= review.Title %></h1>
				<p>Posted by: <b itemprop="author"><%= review.Author %></b> at <time datetime="<%= review.Date %>" pubdate itemprop="datePublished">Apr. 1</time></p>
				<div class="review_content" itemprop="description">
					<p><%= review.Description %></p>
				</div>
			</article>
		</li>
		<% }) %>
	</ol> 
-->
</article>
<% }) %>
    
<h1>Things I need to add...</h1>
<ul>
    <li>Instructions (PDF?)</li>
    <li>Video(s) link (YouTube) - demonstrating assembly perhaps?</li>
    <li>Link to code (if item has a micro-controller, and code, where to find the code)</li>
    <li>Troubleshooting/FAQ - common problems with solutions, and ability to ask a question (adding to the list)</li>
    <li>Reviews from other customers perhaps, or should I not bother with that?</li>
    <li>Anything else?</li>
</ul>